:root {
    --color-sunset-orange: #f28c28;
    --color-paprika-red: #d54f22;
    --color-deep-red: #680a0a;
    --color-lime-leaf: #8ebe3f;
    --color-fresh-basil: #4f9447;
    --color-deep-olive: #2e5a32;
    --color-creamy-beige: #fcecd6;
    --color-pink: #847ddd;
}

.button:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.fade-slide-router-enter-active,
.fade-slide-router-leave-active {
    transition: all 0.5s ease;
}

.fade-slide-router-enter-from,
.fade-slide-router-leave-to {
    opacity: 0;
    transform: translateY(20px); // slide upward
}

.fade-slide-router-enter-to,
.fade-slide-router-leave-from {
    opacity: 1;
    transform: translateY(0);
}

.gradient_1 {
    background: linear-gradient(135deg, #f28c28, #d54f22, #8ebe3f, #4f9447);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
