.subscription {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/wavey-fingerprint.svg");
    z-index: -2;
}

// plan forms
.plan {
    &--title {
        font-family: "Inter";
        font-size: clamp(2rem, 6vw, 4rem);
        font-weight: 700;
        font-family: "Inter", sans-serif;
        text-align: center;
        color: black;
        margin-top: clamp(5vh, 2vh, 8vh);
    }

    &--desc {
        margin-top: 10px;
        margin-bottom: clamp(4vh, 3vh, 8vh);

        text-align: center;
        font-weight: 500;
        font-family: "Inter", sans-serif;
        font-size: clamp(0.9rem, 1.1vw, 1.5rem);
        width: clamp(37ch, 50%, 40ch);
        color: #444;
        margin-inline: auto;
    }
}

.choice_wrap {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    gap: 3.5em;
    padding-top: clamp(2em, 2vh, 5em);
    margin-top: clamp(0rem, 1em, 1.1rem);

    &--recipe {
        position: relative;

        width: clamp(13em, 30vw, 17em);
        height: clamp(15em, 35vw, 20rem);

        padding-bottom: clamp(1rem, 2vh, 2rem);
        padding-top: clamp(2.7em, 8vh, 4em);
        padding-right: 0.5em;
        padding-inline: clamp(0.5rem, 1.5vw, 1rem);

        margin-bottom: 5px;
        border-radius: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;

        &:hover {
            transform: translateY(-6px);
            transition: transform 0.3s ease;
            cursor: pointer;
        }
    }
}

.recipe {
    &--image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: clamp(4rem, 50%, 7rem);
        height: auto;
    }

    &--name {
        font-family: "Inter";
        font-weight: 600;
        font-size: clamp(1.2rem, 2.5vw, 1.5rem);
        margin-bottom: 5px;
    }

    &--desc {
        font-family: "Inter";
        font-weight: 500;
        font-size: clamp(0.85rem, 2vw, 1.1rem);
        color: black;
    }

    &--price {
        font-family: "Inter";
        font-weight: 500;
        font-size: clamp(0.85rem, 2vw, 1.1rem);
        color: black;
        padding: 0.3em;
        border-radius: 1rem;
        width: 18ch;
        margin-bottom: 5px;
        background: #fff9f4;
    }
}

#recipe_diet {
    border: 2px solid var(--color-deep-olive);

    background: linear-gradient(
        180deg,
        rgb(255, 249, 244) 0%,
        rgb(255, 249, 244) 45%,
        rgba(140, 219, 44, 0.5) 99%,
        var(--color-lime-leaf) 100%
    );

    p.recipe--name {
        color: var(--color-deep-olive);
    }

    p.recipe--price {
        border: 2px solid var(--color-fresh-basil);
    }
}

#recipe_protein {
    border: 2px solid var(--color-deep-red);

    background: linear-gradient(
        180deg,
        rgb(255, 249, 244) 0%,
        rgb(255, 249, 244) 45%,
        rgba(242, 140, 40, 0.5) 99%,
        var(--color-sunset-orange) 100%
    );

    p.recipe--name {
        color: var(--color-deep-red);
    }

    p.recipe--price {
        border: 2px solid var(--color-sunset-orange);
    }
}

#recipe_royal {
    border: 2px solid #490a7d;

    background: linear-gradient(
        180deg,
        rgb(255, 249, 244) 0%,
        rgb(255, 249, 244) 45%,
        rgba(163, 113, 237, 0.5) 99%,
        var(--color-pink) 100%
    );

    p.recipe--name {
        color: #7935c7;
    }

    p.recipe--price {
        border: 2px solid #ad76eb;
    }
}

.selected_message {
    text-align: center;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: clamp(1.1rem, 1.1vw, 1.5rem);
    width: clamp(37ch, 50%, 50ch);
    color: #444;
    margin-top: 10px;
    margin-bottom: 10px;

    opacity: 1;
    transition: opacity 0.2s ease;
}

.hidden_opacity {
    opacity: 0;
    transition: opacity 0.2s ease;
}

// Type forms
.meal_type_nav {
    gap: 1em;
}

.type {
    &--title {
        font-family: "Inter";
        font-size: clamp(2rem, 6vw, 4rem);
        font-weight: 700;
        font-family: "Inter", sans-serif;
        text-align: center;
        color: black;
        margin-top: clamp(5vh, 2vh, 8vh);
    }

    &--desc {
        margin-top: 10px;
        margin-bottom: clamp(4vh, 3vh, 8vh);

        text-align: center;
        font-weight: 500;
        font-family: "Inter", sans-serif;
        font-size: clamp(0.9rem, 1.1vw, 1.5rem);
        width: clamp(37ch, 50%, 40ch);
        color: #444;
        margin-inline: auto;
    }
}

.type_options {
    display: flex;
    flex-direction: column;
    gap: clamp(1em, 5vw, 2rem);
    align-items: center;
    justify-content: center;
}

.diet_type {
    &--title {
        font-size: clamp(1.3rem, 3.5vw, 2rem);
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
        font-family: "Inter";
    }
}

.protein_type {
    &--title {
        font-size: clamp(1.3rem, 3.5vw, 2rem);
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
        font-family: "Inter";
    }
}

.royal_type {
    &--title {
        font-size: clamp(1.3rem, 3.5vw, 2rem);
        font-weight: 700;
        text-align: center;
        margin-bottom: 1rem;
        font-family: "Inter";
    }
}

@media (min-width: 1024px) {
    .plan_wrap,
    .type_options {
        flex-direction: row;
    }
}
